* {margin: 0; padding: 0;}
*{box-sizing: border-box; }

.container{
    width: 100%;
    padding: 10px; 
}

.grid-container{
    width: 100%;
    background: transparent; 
}

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
    content:"";
        display: table ;
    clear:both;
}


[class*='col-'] {
    float: left; 
    width: 8.33%; 
    /*-- our gutter -- */
    padding: 10px; 
}

[class*='col-'] > .inner {
    margin: 0;
    padding: 0;
    height: 50px; 
    background-color: #eee;
    border: 1px solid #999; 
}

@media (min-width: 768px){
    .col-1{ width: 8.33%; }
    .col-2{ width: 16.66%; }
    .col-3{ width: 25%;    }
    .col-4{ width: 33.33%; }
    .col-5{ width: 41.66%; }
    .col-6{ width: 50%;   }
    .col-7{ width: 58.33%; }
    .col-8{ width: 66.66%; }
    .col-9{ width: 75%;    }
    .col-10{ width: 83.33%; }
    .col-11{ width: 91.66%; }
    .col-12{ width: 100%;   }
}

@media (max-width: 768px){
    .col-small-1{ width: 8.33%; }
    .col-small-2{ width: 16.66%; }
    .col-small-3{ width: 25%;    }
    .col-small-4{ width: 33.33%; }
    .col-small-5{ width: 41.66%; }
    .col-small-6{ width: 50%;   }
    .col-small-7{ width: 58.33%; }
    .col-small-8{ width: 66.66%; }
    .col-small-9{ width: 75%;    }
    .col-small-10{ width: 83.33%; }
    .col-small-11{ width: 91.66%; }
    .col-small-12{ width: 100%;   }
}