/*导航栏的样式*/
.top{
    position: relative;
    background: #363636;
    width: 100%;
    height: 50px;
    padding: 5px 20px;
}

/*使用绝对定位使标题垂直居中*/
#title{
   /*background: gray;*/
    position: absolute;
    top: 0px;
    bottom: 0px; 
    margin: auto 20px; 
    color: white;  
    width: fit-content;
    height: fit-content;
    font-size: 0.8em;
}

.navbar{
    float: right;
    font-size: 1em;
    line-height: 1em;/*设置行高和字体大小相等，否则水平对不齐*/
}

.navbar ul li{
  float: left;/*设置浮动而不是 inline，否则没有前面的圆点*/
  margin: 0px 15px;
  font-weight: bold;
}

/*下面三个是设置导航链接样式*/
.navbar ul li a:link{
    text-decoration: none;
    color: white;
}

.navbar ul li a:visited{
    text-decoration: none;
    color: white;
}
.navbar ul li a:hover{
    text-decoration: none;
    color: gray;
}

/*层级container的样式*/
#container{
   width: 100%;
   height: 100%;
   background: gainsboro;
   padding: 1px 20px;
}

/*文章的样式*/
.article{
    background:white;
    margin:20px 0px;
    padding: 20px 20px;
    border-style: solid;
    border-width: 1px 3px 3px 1px;
    border-color:darkgray;
}

.article h3{
    color: gray;
}
p.author{
    color: gray;
    font-size: 0.8em;
}
p.content{
    text-indent:2em;/*缩进*/
    line-height:2em;/*行高*/
    letter-spacing:1px;/*字间距*/
}

.article ul{
    list-style: none;
}
.article ul li{
    margin: 5px 0px;
}

/*图片层级*/
.picture{
    border: 1px lightgray solid;
    width: 200px;
    margin: 20px 50px;
    padding: 0px 10px 10px 10px;
    text-align: center;
}

.picture img{
    height: 150px;
    width: 200px;
}

ol>li{
    font-weight: bold;
}

table{
    width: 99%;
    text-align: left;
    border-collapse:collapse;/*消除列间空白*/
}

table th{
    background: black;
    color: white;
    padding: 5px;
    border: 1px lightgrey solid;
}

table td{
    background: white;
    padding: 5px;
    border: 1px lightgrey solid;

}

table td.total{
    background: lightgrey;
    font-weight: bold;
}

/*侧栏*/
#sidebar{
    background:white;
    width: 95%;
    margin: 40px 0px 20px 0px;
    padding: 0px 20px;
    border-style: solid;
    border-width: 1px 3px 3px 1px;
    border-color:darkgray;
}

#sidebar h2{
    display: inline-block;
    padding: 5px 20px;
    border-left: 3px lightgray solid;
    font-size: 1.2em;
}

#sidebar div.line{
    line-height: 2em;  
}

#sidebar .prompt{
    display: inline-block;
    width: 30%;
    padding-right: 3px;
    text-align: right;
    font-size: 0.8em;
    vertical-align:top;/*顶部对齐*/
}

#sidebar input{
    margin-left: 10px;
    padding: 3px;
    font-size: 0.8em;
}

#sidebar .hint{
    display: inline-block;
    color: gray;
    margin-left: 10px;
    font-size: 0.8em;
    padding-bottom: 1.5em;
}

#sidebar select{
    margin-left: 10px;
    padding: 3px;
}

#sidebar textarea{
    font-size: 1.2em;
    font-weight: bold;
    width: 60%;
    margin-left: 10px;
    padding: 0px 3px;
}

#sidebar .submitDiv{
    text-align: center;
}
#submitBtn{
    background: royalblue;
    color: white;
    width: 95%;
    height: 40px;
    margin:20px 0px;
    border-radius: 10px;
    border: 2px gray solid;
}

/*底部栏*/
.bottom{
    background: #1C1C1C;
    width: 100%;
    height: 50px;
    padding: 20px;
    color: white;
    text-align: center;
}