* {margin: 0; padding: 0;}

/*导航栏的样式*/
.top{
    position: relative;
    background: #363636;
    height: 50px;
    padding: 5px 20px;
}

/*使用绝对定位使标题垂直居中*/
#title{
    position: absolute;
    margin-right: 20px;
    padding-left: 20px; 
    color: white;  
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8em;
}

.navbar{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar ul li{
  float: left;/*设置浮动而不是 inline，否则没有前面的圆点*/
  margin: 0px 15px;
  font-weight: bold;
}

/*下面三个是设置导航链接样式*/
.navbar ul li a:link{
    text-decoration: none;
    color: grey;
}

.navbar ul li a:visited{
    text-decoration: none;
    color: grey;
}
.navbar ul li a:hover{
    text-decoration: none;
    color: white;
}

/*层级container的样式*/
.container{
   /*position: absolute;*/
   background: gainsboro;
   padding: 20px;
}

#content{
    overflow: auto;
    margin-bottom: -20px;
}

.solid-border{
    border-style: solid;
    border-width: 1px 3px 3px 1px;/*阴影立体效果*/
    border-color:darkgray;
}

/*文章的样式*/
.article{
    background:white;
    margin-bottom: 20px;
    padding: 20px;
}

.article h2{
    line-height: 2em;
}
.article h3{
    color: gray;
    line-height: 2em;
}
p.author{
    color: gray;
    font-size: 0.8em;
    line-height: 3em;
}
p.content{
    text-indent:2em;/*缩进*/
    line-height:2em;/*行高*/
    letter-spacing:1px;/*字间距*/
}

.article ul{
    list-style: none;
    margin-left: 20px;
}
.article ul li{
    margin: 5px 0px;
}

/*图片层级*/
.pictures{
    /*background: yellow;*/
    display: inline-block;
    padding: 10px;
}
.picture{
    float:left;
    border: 1px lightgray solid;
    width: 100px;
    margin: 0 20px 20px 0;
    padding:10px;
    text-align: center;
}

.picture img{
    height: 75px;
    width: 100px;
    margin-top: 10px;
    display: block;/*消除img标签与div层之间的空隙*/
}

ol>li{
    margin-left: 50px;
    font-weight: bold;
}

/*表格的样式*/
table{
    width: 99%;
    text-align: left;
    border-collapse:collapse;/*消除列间空白*/
}

table th{
    background: black;
    color: white;
    padding: 5px;
    border: 1px lightgrey solid;
}

table td{
    background: white;
    padding: 5px;
    border: 1px lightgrey solid;
}

table td.total{
    background: lightgrey;
    font-weight: bold;
}

/*侧栏*/
#sidebar{
    float: right;
    background:white;
    margin-left: 20px;
    padding: 10px 20px;
    width: 30%;
}

#sidebar h2{
    display: inline-block;
    padding: 5px 20px;
    border-left: 3px lightgray solid;
    font-size: 1em;
    line-height: 2em;
    margin-bottom: 5px;
}

#sidebar div.line{
    line-height: 2em;  
}

#sidebar .prompt{
    display: inline-block;
    width: 30%;
    padding-right: 3px;
    text-align: right;
    font-size: 0.8em;
    vertical-align: top;/*顶部对齐*/
}

#sidebar input{
    margin-left: 10px;
    padding: 3px;
    font-size: 0.8em;
}

#sidebar .hint{
    display: inline-block;
    color: gray;
    margin-left: 10px;
    font-size: 0.8em;
    padding-bottom: 1.5em;
}

#sidebar select{
    margin-left: 10px;
    padding: 3px;
}

#sidebar textarea{
    font-size: 1.2em;
    font-weight: bold;
    width: 60%;
    margin-left: 10px;
    padding: 0px 3px;
}

#sidebar .submitDiv{
    text-align: center;
}
#submitBtn{
    background: royalblue;
    color: white;
    width: 95%;
    height: 40px;
    margin:20px 0px;
    border-radius: 10px;
    border: 2px gray solid;
}

/*底部栏*/
.bottom{
    background: #1C1C1C;
    height: 40px;
    padding: 20px;
    color: white;
    text-align: center;
}